# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [1]:
# Write your answer here
print("Sushmita Rajan")

Sushmita Rajan

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [2]:
# Write your answer here:

print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [3]:
# Write your answer here

import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Replace the values "E" with 11 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

HINT: See the example in Lecture 13

In [12]:
# Write your own code

constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")

subset      = constructor_standings.query("positionText.str.isnumeric() == False")
list_unique = pd.unique(subset["positionText"])
print(list_unique)
list_old =["11"]
list_new =[11]
constructor_standings["positionText"] = constructor_standings["positionText"].replace(list_old, list_new)
constructor_standings["positionNumeric"] = pd.to_numeric(constructor_standings["positionText"])

['E']

ValueError: Unable to parse string "E" at position 217

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 13

In [17]:
# Write your own code

races = pd.read_csv("data_raw/races.csv")

bins_x = [1950,1971, 1991, 2006, 2020, float("inf")]
labels_x = ["1950-1970","1971-1990","1991-2005", "2006-2019", "2020-onwards"]
races["year_numeric"] = pd.to_numeric(races["year"])


races["year_brackets"] = pd.cut(races["year_numeric"],
                              bins = bins_x,
                              right = False,
                              labels = labels_x)

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Subset the observations for 'raceId == 10' using ```.query()```
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Subset the teams with a sum of points $\ge 50$
- Store the results of all these operations in a dataframe <br>
```constructor_standings_agg ```

In [32]:
# Write your own code
constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")
constructor_standings_agg = (constructor_standings.query("raceId == 10")
                       .groupby(["constructorId"])
                        .agg(sum_points = ('points','sum'))
                        .query("sum_points >= 50"))
constructor_standings_agg

               sum_points
constructorId
9                    98.5
23                  114.0

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the sum of points using ``` .sort_values() ```

In [31]:
# Write your own code

constructor_standings_agg2 = (constructor_standings.groupby("constructorId")
               .agg(sumpoints= ('points', 'sum'))
                    .sort_values(by = "sumpoints", ascending=False))
constructor_standings_agg2

               sumpoints
constructorId
6                90204.0
131              71808.5
9                64986.5
1                57188.5
3                32093.5
...                  ...
93                   0.0
92                   0.0
90                   0.0
89                   0.0
91                   0.0

[159 rows x 1 columns]

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Rename the column "wins" to "wins_constructor"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [43]:
# Write your own code


dict_rename_wins = {"wins": "wins_constructor"}
constructor_standings_rename = constructor_standings.rename(columns = dict_rename_wins)

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/constructor_standings.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"constructor_standings" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [42]:
# Write your own code
constructors = pd.read_csv("data_raw/constructors.csv")
constructor_merge = pd.merge(constructor_standings,
                       constructors[["constructorId","nationality"]],
                       on = "constructorId",
                       how = "left")
display(constructor_merge[["constructorStandingsId","constructorId", "nationality"]].sort_values(by = "constructorId"))
print(constructor_merge.columns.values)

       constructorStandingsId  constructorId nationality
0                           1              1     British
4366                     9260              1     British
4348                     9242              1     British
4330                     9224              1     British
4312                     9206              1     British
...                       ...            ...         ...
12553                   27750            214      French
12835                   28267            214      French
12683                   27900            214      French
12623                   27840            214      French
12765                   28187            214      French

[12941 rows x 3 columns]

['constructorStandingsId' 'raceId' 'constructorId' 'points' 'position'
 'positionText' 'wins' 'nationality']