In [84]:

import pandas as pd
import matplotlib.pyplot as plt

In [85]:
#import drivers and drivers_standings

drivers = pd.read_csv("data_raw/drivers.csv")

drivers_standings = pd.read_csv("data_raw/driver_standings.csv")

In [86]:
driversmerge = pd.merge(drivers,
                         drivers_standings[["driverId","wins", "points"]],
                         on = "driverId",
                         how = "left")

In [87]:
driversmerge_agg_points = driversmerge.agg(mean_points = ('points','mean'),
                          sd_points =   ('points','std'),
                          min_points =  ('points','min'),
                          max_points =  ('points','max'),
                          count_points  = ('points',len)
                          )
display(driversmerge_agg_points)

                    points
mean_points      13.329134
sd_points        35.392937
min_points        0.000000
max_points      454.000000
count_points  33909.000000

In [91]:
driversmerge_agg_wins = driversmerge.agg(mean_wins = ('wins','mean'),
                          sd_wins =   ('wins','std'),
                          min_wins =  ('wins','min'),
                          max_winss =  ('wins','max'),
                          count_wins   = ('wins',len))

display(driversmerge_agg_wins)

                    wins
mean_wins       0.268893
sd_wins         0.992981
min_wins        0.000000
max_winss      15.000000
count_wins  33909.000000

In [88]:
aggregate_points = driversmerge.groupby('driverRef').agg({'points': 'mean'})
                                                          
mean_descending_points= aggregate_points.query('points > 0').sort_values(by = 'points', ascending = False)
top_points = mean_descending_points[0:20]

display(top_points)

                        points
driverRef
hamilton            146.663987
max_verstappen      125.295732
vettel              107.110368
bottas               96.064356
leclerc              93.451923
rosberg              82.087379
norris               62.421687
ricciardo            58.732759
alonso               57.069252
raikkonen            54.019830
perez                51.820833
sainz                50.734756
webber               50.037736
michael_schumacher   46.370607
massa                40.541818
russell              38.867470
button               36.473520
prost                33.477941
gasly                33.054545
ocon                 33.053571

In [89]:
drivermergenationality= driversmerge[["driverRef", 'nationality']]
nationality_points_merge = pd.merge(drivermergenationality, top_points,
                         on = "driverRef",
                         how = "left")

nationality_points_merge = nationality_points_merge.drop_duplicates()
nationality_points_merge.query('points.notna()')

                driverRef nationality      points
0                hamilton     British  146.663987
505               rosberg      German   82.087379
711                alonso     Spanish   57.069252
1253            raikkonen     Finnish   54.019830
1952                massa   Brazilian   40.541818
2842               webber  Australian   50.037736
3054               button     British   36.473520
3427               vettel      German  107.110368
4731   michael_schumacher      German   46.370607
10557               prost      French   33.477941
24516               gasly      French   33.054545
31095               perez     Mexican   51.820833
31362           ricciardo  Australian   58.732759
31788              bottas     Finnish   96.064356
32452      max_verstappen       Dutch  125.295732
32656               sainz     Spanish   50.734756
33007                ocon      French   33.053571
33348             leclerc  Monegasque   93.451923
33473              norris     British   62.421687
33556             russell     British   38.867470